<header class="waitlist">
  <div class="waitlist__container container">
    <a routerLink="/" class="waitlist__logo">
      <img src="/assets/images/icons/logo.svg" alt="" />
    </a>
    <h1 class="waitlist__title waitlist__title--desktop">
      Limitless creativity,<br />one click away
    </h1>
    <h1 class="waitlist__title waitlist__title--mobile">
      Limitless creativity, one click away
    </h1>
  </div>
</header>
<main>
  <section class="s-pricing">
    <div class="s-pricing__container container">
      <h1 class="s-pricing__title">Pricing plans</h1>
      <p class="s-pricing__description text">
        Save up to 33% when you pay annually
      </p>
      <div class="s-pricing__plans">
        <div class="s-pricing__plan not-active">
          <img src="/assets/images/icons/icon-monthly.svg" alt="" />
          <p class="s-pricing__text">Monthly</p>
        </div>
        <div class="s-pricing__plan">
          <img src="/assets/images/icons/icon-annual.svg" alt="" />
          <p class="s-pricing__text">Annual</p>
        </div>
      </div>
      <div class="s-pricing__cards">
        <article class="s-pricing__card card-price not-active">
          <div class="card-price__content">
            <h3 class="card-price__title">Explorer</h3>
            <p class="card-price__description text text--normal">
              Unlock all that Kaiber has to offer
            </p>
          </div>
          <p class="card-price__price">$5<span>/mo</span></p>
          <ul class="card-price__list">
            <li>7-day free trial, 100 credits</li>
            <li>$5 billed monthly for 300 credits</li>
            <li>1-minute videos</li>
            <li>Gallery</li>
            <li>Audioreactivity (upload music)</li>
            <li>Animation (start with a prompt)</li>
            <li>Transform (video-to-video)</li>
            <li>Image-to-Video (start with an image)</li>
            <li>Select camera movements</li>
            <li>Storyboard</li>
            <li>Any aspect ratio</li>
          </ul>
          <button class="card-price__btn btn-price" disabled type="button">
            Subscribe now
          </button>
        </article>
        <article class="s-pricing__card card-price">
          <div class="card-price__content">
            <h3 class="card-price__title">Pro</h3>
            <p class="card-price__description text text--normal">
              More credits for committed creators
            </p>
          </div>
          <p class="card-price__price">$10<span>/mo</span></p>
          <ul class="card-price__list">
            <li>$15 billed monthly for 1,000 credits</li>
            <li>Discounted credit packs</li>
            <li>8-minute videos</li>
            <li>Gallery</li>
            <li>Audioreactivity (upload music)</li>
            <li>Animation (start with a prompt)</li>
            <li>Transform (video-to-video)</li>
            <li>Image-to-Video (start with an image)</li>
            <li>Select camera movements</li>
            <li>Storyboard</li>
            <li>Any aspect ratio</li>
            <li>Upscale 1080p & 4K</li>
          </ul>
          <button class="card-price__btn btn-price" type="button">
            Subscribe now
          </button>
        </article>
        <article class="s-pricing__card card-price">
          <div class="card-price__content">
            <h3 class="card-price__title">Artist</h3>
            <p class="card-price__description text text--normal">
              For power users who want the most value
            </p>
          </div>
          <p class="card-price__price">$25<span>/mo</span></p>
          <ul class="card-price__list">
            <li>$30 billed monthly for 2,500 credits</li>
            <li>Discounted credit packs</li>
            <li>Beta access to new features</li>
            <li>8-minute videos</li>
            <li>Gallery</li>
            <li>Audioreactivity (upload music)</li>
            <li>Animation (start with a prompt)</li>
            <li>Transform (video-to-video)</li>
            <li>Image-to-Video (start with an image)</li>
            <li>Select camera movements</li>
            <li>Storyboard</li>
            <li>Any aspect ratio</li>
            <li>Upscale 1080p & 4K</li>
          </ul>
          <button class="card-price__btn btn-price" type="button">
            Subscribe now
          </button>
        </article>
      </div>
    </div>
  </section>
  <div class="divider"></div>
  <section class="s-enterprise">
    <div class="s-enterprise__container container">
      <article class="s-enterprise__card card-row">
        <div class="card-row__col">
          <div class="card-row__content">
            <h3 class="card-row__title">Enterprise</h3>
            <p class="card-row__description">
              For teams and companies staying ahead of the curve.
            </p>
          </div>
          <a class="card-row__link" href="">
            <span>Contact us</span>
            <img src="/assets/images/icons/link-arrow.svg" alt="" />
          </a>
        </div>
        <div class="card-row__img">
          <img src="/assets/images/other/img-01.png" alt="" />
        </div>
      </article>
      <article class="s-enterprise__card card-row">
        <div class="card-row__col">
          <div class="card-row__content">
            <h3 class="card-row__title">50% off for musicians</h3>
            <p class="card-row__description">
              Music and visuals are better together. Kaiber is excited to
              support musicians with specialized pricing to help bring your art
              to life.
            </p>
          </div>
          <a class="card-row__link" href="">
            <span>Get started</span>
            <img src="/assets/images/icons/link-arrow.svg" alt="" />
          </a>
        </div>
        <div class="card-row__img indent">
          <img src="/assets/images/other/img-02.png" alt="" />
        </div>
      </article>
    </div>
  </section>
</main>
<footer class="l-footer">
  <div class="l-footer__container container">
    <div class="l-footer__content">
      <p class="l-footer__copy">2023 ChampAI. All rights reserved.</p>
      <div class="l-footer__info">
        <p>Terms of Service</p>
        <p>Privacy Policy</p>
      </div>
    </div>
  </div>
</footer>
