<main class="waitlist waiting-list">
  <div class="waitlist__container waiting-list container">
    <a routerLink="/" class="waitlist__logo">
      <img src="/assets/images/icons/logo.svg" alt="" />
    </a>
    <h1 class="waitlist__title">
      Welcome to our<br />Wait list
    </h1>
    <form class="waitlist__form">
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Your email" />
        <button class="btn-waitlist" type="submit">
          <span>Join the waitlist</span>
          <img src="/assets/images/icons/btn-arrow.svg" alt="" />
        </button>
      </div>
      <button class="waitlist__btn-secure btn-secure" type="button">
        secure your spot
      </button>
    </form>
  </div>
</main>
