<header class="c-header">
  <div class="c-header__container container">
    <div (click)="back()" class="c-header__back">
      <img src="/assets/images/icons/arrow-back.svg" alt="" />
    </div>
    <div class="c-header__title">Back</div>
  </div>
</header>
<main class="s-terms">
  <div class="s-terms__container container">
    <h1>Terms of Service<br />
    Date of Last Revision: January 01, 2024</h1>
    <p>
      The Champ dba Champ (<span class="s-terms__bold">“Champ”</span>,
      <span class="s-terms__bold">“we”</span>,
      <span class="s-terms__bold">“us”</span>, or
      <span class="s-terms__bold">“our”</span>) has made these Terms of Service
      (the <span class="s-terms__bold">“Agreementt”</span>) available to explain
      the terms and conditions by which you may access and use (a) Champ’s
      products and services, (b)
      <a href="https://thechamp.ai" target="_blank">thechamp.ai</a>, (c) our iOS
      and Android mobile applications (the “Mobile Apps”), and (d) other related
      products and services that link to this Agreement (collectively, the
      “Platform”).
    </p>
    <p>
      You must read this Agreement carefully as it governs your use of the
      Platform. By accessing or using the Platform, you signify that you have
      read, understand, and agree to be bound by this Agreement in its entirety.
      If you do not agree, you are not authorized to access or use of our
      Platform and should not use our Platform.
    </p>
    <ol>
      <li>
        <span class="s-terms__bold s-terms__size-20">Champ Platform</span>
        <ul>
          <li>
            <span class="s-terms__bold s-terms__decoration">Our Platform</span>.
            Champ provides a platform that allows you to generate images,
            videos, and other content (<span class="s-terms__bold"
              >“Output”</span
            >) based on (i) text or style inputs you select or provide to Champ
            or other images, music, videos, and other content you may upload or
            provide to Champ (<span class="s-terms__bold">“User Input”</span>),
            and (ii) images, music, sounds, and other content we may source from
            third parties (<span class="s-terms__bold"
              >“Third-Party Content”</span
            >). We are constantly improving the Platform. You agree and
            acknowledge that the Platform is subject to modification and change,
            including but not limited to the art style of Output, the algorithms
            and methods used to generate the Output, and the features available
            to you.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Registration</span>.
            In order to use certain portions of the Platform, you must register
            an account by providing us with your name, email, and other
            information requested in our registration form. You agree to provide
            us with complete and accurate registration information. You may not
            attempt to impersonate another person in registration. If you are
            registering for our Platform on behalf of an organization, you
            warrant that you are authorized to agree to this Agreement on their
            behalf. You agree to be responsible for the security of your
            account. You accept that you are solely responsible for all
            activities that take place through your account, and that failure to
            limit access to your devices or browser may permit unauthorized use
            by third-parties. Only one user may use the Platform per registered
            account. Each user of the Platform may only have one account.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">
              No Minors Permitted</span
            >. Our Platform are not intended for minors under the age of 18. If
            you are a minor under the age of 18, please do not register for our
            Platform or send any personal information to us. If you have reason
            to believe that a minor under the age of 18 is using our Platform,
            please let us know immediately at
            <a href="mailto:support@thechamp.ai">support@thechamp.ai</a> and we will seek to revoke access
            and delete any associated information as quickly as possible.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">
              Additional Policies</span
            >. You agree and acknowledge that your use of the Platform is
            subject to our Privacy Policy available
            <a href="https://thechamp.ai" target="_blank">thechamp.ai</a>.
          </li>
        </ul>
      </li>
      <li>
        <span class="s-terms__bold s-terms__size-20">Usage Requirements</span>
        <ul>
          <li>
            <span class="s-terms__bold s-terms__decoration">
              Use of Platform</span
            >. You may access, and we grant you a non-exclusive right to use,
            the Platform in accordance with this Agreement. You will comply with
            this Agreement and all applicable laws when using the Platform. We
            and our affiliates own all rights, title, and interest in and to the
            Platform, including the underlying technology and intellectual
            property rights therein.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Content</span>. You
            retain ownership of all User Input you provide to the Platform and
            all Output generated from your User Input (excluding any Third-Party
            Content included with the Output). User Input and all Output (but
            excluding any Third-Party Content included with the Output) is
            collectively referred to as “User Content”. Subject to your
            compliance with this Agreement and to the extent Champ acquires any
            right in any User Content, Champ hereby assigns to you all its
            right, title and interest in and to your User Content. You are
            permitted to use (i) Output for any purpose if you comply with this
            Agreement and (ii) Third-Party Content incorporated into any Output
            solely as part of the original Output and not on a standalone basis,
            including not to directly commercialize or monetize such Third-Party
            Content. During and after the term of this Agreement, Champ may
            freely use your User Content to provide and maintain the Platform,
            develop and improve our products and services (including to improve
            and train our AI models), comply with applicable law, and enforce
            our policies. You are responsible for all User Content, including
            for ensuring that it does not violate any applicable law or this
            Agreement.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Similar Output</span
            >. Due to the nature of machine learning, Output may not be unique
            across users and the Platform may generate the same or similar
            output for Champ or a third party. Other users may also provide
            similar User Input and receive the same or similar Output. Output
            that are requested by and generated for other users are not
            considered yours.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Feedback</span>. We
            appreciate feedback, comments, ideas, proposals and suggestions for
            improvements. If you provide any of these things, we may use it
            without restriction or compensation to you. You also authorize Champ
            and its third-party service providers to derive statistical and
            usage data relating to your use of the Platform (<span
              class="s-terms__bold"
              >“Usage Data”</span
            >). We may use Usage Data for any purpose under applicable law and
            our Privacy Policy.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Platform Restrictions</span
            >. You may not (i) use the Platform in a way that infringes,
            misappropriates or violates any person’s rights (ii) reverse
            assemble, reverse compile, decompile, translate or otherwise attempt
            to discover the source code or underlying components of models,
            algorithms, and systems of the Platform (except to the extent such
            restrictions are contrary to applicable law) (iii) use output from
            the Platform to develop models that compete with Champ (iv) use any
            automated or programmatic method to extract data or output from the
            Platform, including scraping, web harvesting, or web data extraction
            (v) represent that output from the Platform was human-generated when
            it is not (vi) send us any personal information of children under 13
            or the applicable age of digital consent or (vii) use the Platform
            in violation of any applicable laws and regulations (including any
            export control laws). You will comply with any rate limits and other
            requirements in our documentation
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">User Conduct</span>.
            You represent, warrant, and covenant that: (i) any User Content you
            transfer via the Platform have been legally obtained and belong to
            you (ii) you will not upload or create any User Content that contain
            adult content, gore, child sexual abuse material or any content that
            exploits or harms children (iii) you will not engage in any conduct
            that is or could be considered illegal, obscene, defamatory,
            threatening, intimidating, harassing, hateful or racially or
            ethnically offensive (iv) you will not provide any false, inaccurate
            or misleading information while using the Platform, or engage in any
            activity that operates to defraud Champ, other users of the
            Platform, or any other person or entity (v) you will not interfere
            with or disrupt the Platform or servers or networks connected to the
            Platform, or disobey any requirements, procedures, policies, or
            regulations of networks connected to the Platform (vi) you will not
            impersonate any person or entity, or falsely state or otherwise
            misrepresent your affiliation with a person or entity (vii) you will
            not infringe, misappropriate or violate any intellectual property,
            privacy, publicity or other proprietary rights of Champ or any third
            party (viii) you will not disguise your location through IP proxying
            or other methods and (ix) you will not obtain or attempt to access
            or otherwise obtain any content or information through any means not
            intentionally made available or provided for through the Platform,
            including attempting to avoid, bypass, remove, deactivate, impair,
            descramble or otherwise circumvent any technological measure
            implemented by us or any of our service providers or any other third
            party to protect the Platforms.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Confidentiality</span
            >. In connection with the Platform, you may be given access to
            certain Confidential Information of Champ. You may use Confidential
            Information only as needed to use the Platform as permitted under
            this Agreement. You may not disclose Confidential Information to any
            third party, and you will protect Confidential Information in the
            same manner that you protect your own confidential information of a
            similar nature, using at least reasonable care.
            <span class="s-terms__bold">“Confidential Information”</span> means
            nonpublic information that Champ or its affiliates or third parties
            designate as confidential or should reasonably be considered
            confidential under the circumstances, including software,
            specifications, and other nonpublic business information.
            Confidential Information does not include information that: (i) is
            or becomes generally available to the public through no fault of
            yours (ii) you already possess without any confidentiality
            obligations when you received it under this Agreement (iii) is
            rightfully disclosed to you by a third party without any
            confidentiality obligations or (iv) you independently developed
            without using Confidential Information. You may disclosed
            Confidential Information when required by law or the valid order of
            a court or other governmental authority if you give reasonable prior
            written notice to Champ and use reasonable efforts to limit the
            scope of disclosure, including assisting us with challenging the
            disclosure requirement, in each case where possible.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Third Party Platform</span
            >. Any third party software, services, or other products you use in
            connection with the Platform are subject to their own terms, and we
            are not responsible for any such third party products.
          </li>
        </ul>
      </li>
      <li>
        <span class="s-terms__bold s-terms__size-20">Fees and Payments</span>
        <ul>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Fees and Billing</span
            >. To the extent the Platform are made available to you for a fee,
            you will pay all fees charged to your account (<span
              class="s-terms__bold"
              >“Fees”</span
            >) according to the prices and terms on the applicable pricing page,
            or as otherwise agreed between us in writing. We have the right to
            correct pricing errors or mistakes even if we have already issued an
            invoice or received payment. You will provide complete and accurate
            billing information including a valid and authorized payment method.
            We will charge your payment method on an agreed-upon periodic basis,
            but may reasonably change the date on which the charge is posted.
            You authorize Champ, and our third-party payment processor(s), to
            charge your payment method for the Fees. If your payment cannot be
            completed, we will provide you written notice and may suspend access
            to the Platform until payment is received. Fees are payable in U.S.
            dollars and are due upon invoice issuance. Payments are
            nonrefundable except as provided in this Agreement.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Taxes</span>. Unless
            otherwise stated, Fees do not include federal, state, local, and
            foreign taxes, duties, and other similar assessments (<span
              class="s-terms__bold"
              >“Taxes”</span
            >). You are responsible for all Taxes associated with your purchase,
            excluding Taxes based on our net income, and we may invoice you for
            such Taxes. You agree to timely pay such Taxes and provide us with
            documentation showing the payment, or additional evidence that we
            may reasonably require. Champ uses the name and address in your
            account registration as the place of supply for tax purposes, so you
            must keep this information accurate and up-to-date.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Changes in Fees</span
            >. We may change our prices by posting notice to your account and/or
            to our website. Price increases will be effective 14 days after they
            are posted, except for increases made for legal reasons or increases
            made to any free or beta services, which will be effective
            immediately. Any price changes will apply to the Fees charged to
            your account immediately after the effective date of the changes.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Free Tier</span>.
            You may not create more than one account to benefit from credits
            provided in the free tier of the Platform. If we believe you are not
            using the free tier in good faith, we may charge you standard fees
            or stop providing access to the Platform.
          </li>
        </ul>
      </li>
      <li>
        <span class="s-terms__bold s-terms__size-20">Term and Termination</span>
        <ul>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Termination Suspension</span
            >. This Agreement takes effect when you first use the Platform and
            remain in effect until terminated. You may terminate this Agreement
            at any time for any reason by discontinuing the use of the Platform.
            We may terminate this Agreement for any reason by providing you at
            least 30 days’ advance notice. We may terminate this Agreement
            immediately upon notice to you if you materially breach this
            Agreement (including any breach of Sections 2.4 and 2.5), if there
            are changes in relationships with third party technology providers
            outside of our control, or to comply with law or government
            requests. We may suspend your access to the Platform, with or
            without notice, if you do not comply with this Agreement, if your
            use poses a security risk to us or any third party, or if we suspect
            that your use is fraudulent or could subject us or any third party
            to liability.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Effect on Termination</span
            >. Upon termination, you will stop using the Platform and you will
            promptly return or, if instructed by us, destroy any Confidential
            Information. The sections of this Agreement which by their nature
            should survive termination or expiration should survive, including
            but not limited to Sections 2.2, 2.4, 2.5, 4, and 6-9.
          </li>
        </ul>
      </li>
      <li>
        <span class="s-terms__bold s-terms__size-20"
          >Mobile Services and Software</span
        >
        <ul>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Mobile Services</span
            >. The Platform includes certain services that are available via a
            mobile device, including (i) the ability to upload content to the
            Platform via a mobile device, (ii) the ability to access or browse
            the Platform from a mobile device, and (iii) the ability to access
            certain features and content through Mobile Apps (collectively, the
            <span class="s-terms__bold">“Mobile Services”</span>). To the extent
            you access the Platform through a mobile device, your wireless
            service carrier’s standard charges, data rates, and other fees may
            apply. In addition, downloading, installing, or using certain Mobile
            Services may be prohibited or restricted by your carrier, and not
            all Mobile Services may work with all carriers or devices.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">
              Third-Party Distribution Channels</span
            >. Champ offers Mobile Apps that may be made available through the
            Apple App Store, the Google Play Store, or other distribution
            channels (<span class="s-terms__bold">“Distribution Channels”</span
            >). If you obtain such Mobile Apps through a Distribution Channel,
            you may be subject to additional terms of the Distribution Channel.
            This Agreement is between you and us only, and not with the
            Distribution Channel. To the extent that you utilize any other
            third-party products and services in connection with your use of the
            Platform, you agree to comply with all applicable terms of any
            agreement for such third-party products and services.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Apple-Enabled Software</span
            >. With respect to Mobile Apps that are made available for your use
            in connection with an Apple-branded product (the
            <span class="s-terms__bold">“Apple-Enabled Software”</span>), in
            addition to the other terms and conditions set forth in this
            Agreement, the following terms and conditions apply:
            <ul>
              <li>
                Champ and you acknowledge that this Agreement is concluded
                between Champ and you only, and not with Apple Inc. (<span
                  class="s-terms__bold"
                  >“Apple”</span
                >), and that as between Champ and Apple, Champ, not Apple, is
                solely responsible for the Apple-Enabled Software and the
                content thereof.
              </li>
              <li>
                You may not use the Apple-Enabled Software in any manner that is
                in violation of or inconsistent with the Usage Rules set forth
                for Apple-Enabled Software in, or otherwise be in conflict with,
                the Apple Media Services Terms and Conditions.
              </li>
              <li>
                Your license to use the Apple-Enabled Software is limited to a
                non-transferable license to use the Apple-Enabled Software on an
                iOS product that you own or control, as permitted by the “Usage
                Rules” set forth in the Apple Media Services Terms and
                Conditions, except that such Apple-Enabled Software may be
                accessed and used by other accounts associated with the
                purchaser via Apple’s Family Sharing or volume purchasing
                programs.
              </li>
              <li>
                Apple has no obligation whatsoever to provide any maintenance or
                support services with respect to the Apple-Enabled Software.
              </li>
              <li>
                Apple is not responsible for any product warranties, whether
                express or implied by law. In the event of any failure of the
                Apple-Enabled Software to conform to any applicable warranty,
                you may notify Apple, and Apple will refund the purchase price
                for the Apple-Enabled Software, if any, to you and, to the
                maximum extent permitted by applicable law, Apple will have no
                other warranty obligation whatsoever with respect to the
                Apple-Enabled Software, or any other claims, losses,
                liabilities, damages, costs, or expenses attributable to any
                failure to conform to any warranty, which will be Champ’s sole
                responsibility, to the extent it cannot be disclaimed under
                applicable law.
              </li>
              <li>
                Apple is not responsible for any product warranties, whether
                express or implied by law. In the event of any failure of the
                Apple-Enabled Software to conform to any applicable warranty,
                you may notify Apple, and Apple will refund the purchase price
                for the Apple-Enabled Software, if any, to you and, to the
                maximum extent permitted by applicable law, Apple will have no
                other warranty obligation whatsoever with respect to the
                Apple-Enabled Software, or any other claims, losses,
                liabilities, damages, costs, or expenses attributable to any
                failure to conform to any warranty, which will be Champ’s sole
                responsibility, to the extent it cannot be disclaimed under
                applicable law.
              </li>
              <li>
                In the event of any third-party claim that the Apple-Enabled
                Software or your possession and use of that Apple-Enabled
                Software infringes that third party’s intellectual property
                rights, as between Champ and Apple, Champ, not Apple, will be
                solely responsible for the investigation, defense, settlement,
                and discharge of any such intellectual property infringement
                claim.
              </li>
              <li>
                You represent and warrant that (a) you are not located in a
                country that is subject to a U.S. Government embargo, or that
                has been designated by the U.S. Government as a “terrorist
                supporting” country and (b) you are not listed on any U.S.
                Government list of prohibited or restricted parties.
              </li>
              <li>
                If you have any questions, complaints, or claims with respect to
                the Apple-Enabled Software, they should be directed to Champ at
                <a href="mailto:support@thechamp.ai">support@thechamp.ai</a>.
              </li>
              <li>
                You must comply with applicable third-party terms of agreement
                when using the Apple-Enabled Software, e.g., your wireless data
                service agreement.
              </li>
              <li>
                Champ and you acknowledge and agree that Apple, and Apple’s
                subsidiaries, are third-party beneficiaries of this Agreement
                with respect to the Apple-Enabled Software, and that, upon your
                acceptance of the terms and conditions of this Agreement, Apple
                will have the right (and will be deemed to have accepted the
                right) to enforce this Agreement against you with respect to the
                Apple-Enabled Software as a third-party beneficiary thereof.
              </li>
            </ul>
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Google-Sourced Software</span
            >. The following applies to any Mobile App you download from the
            Google Play Store (<span class="s-terms__bold"
              >“Google- Sourced Software”</span
            >): (a) you acknowledge that this Agreement is between you and Champ
            only, and not with Google, Inc. (<span class="s-terms__bold"
              >“Google”</span
            >) (b) your use of Google-Sourced Software must comply with Google’s
            then-current Google Play Terms of Service (c) Google is only a
            provider of Google Play where you obtained the Google-Sourced
            Software (d) Champ, and not Google, is solely responsible for
            Champ’s Google-Sourced Software (e) Google has no obligation or
            liability to you with respect to Google-Sourced Software or this
            Agreement and (f) you acknowledge and agree that Google is a
            third-party beneficiary to this Agreement as it relates to Champ’s
            Google-Sourced Software.
          </li>
        </ul>
      </li>
      <li>
        <span class="s-terms__bold s-terms__size-20">Proprietary Rights</span>
        <ul>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Platform Content</span
            >. You acknowledge and agree that the Platform may contain content,
            assets, or features made available by Champ or other Champ users
            (<span class="s-terms__bold">“Platform Content”</span>) that are
            protected by copyright, patent, trademark, trade secret, or other
            proprietary rights and laws. Except as expressly set forth herein,
            we reserve all right, title and interest to the Platform Content.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Trademarks</span>.
            The Champ name and logos are trademarks and service marks of Champ
            (collectively the
            <span class="s-terms__bold">“Champ Trademarks”</span>). Other
            company, product, and service names and logos used and displayed via
            the Platform may be trademarks or service marks of their respective
            owners who may not endorse or be affiliated with or connected to
            Champ. This Agreement and the Platform do not grant you any license
            or right to use any of Champ Trademarks, without our prior written
            permission.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Copyright Complaints</span
            >. Champ respects the intellectual property of others, and we ask
            our users to do the same. If you believe that your work has been
            copied in a way that constitutes copyright infringement, or that
            your intellectual property rights have been otherwise violated, you
            should notify Champ of your infringement claim in accordance with
            the procedure set forth below. Champ will process and investigate
            notices of alleged infringement and will take appropriate actions
            under the Digital Millennium Copyright Act (“DMCA”) and other
            applicable intellectual property laws with respect to any alleged or
            actual infringement. A notification of claimed copyright
            infringement should be emailed to Champ’s Copyright Agent at
            <a href="mailto:support@thechamp.ai">support@thechamp.ai</a>.
            (Subject line: “DMCA Takedown Request”). To be effective, the
            notification must be in writing and contain the following
            information:
            <ul>
              <li>
                a physical or electronic signature of a person authorized to act
                on behalf of the owner of the copyright or other intellectual
                property interest that is allegedly infringed
              </li>
              <li>
                identification of the copyrighted work or other intellectual
                property that you claim has been infringed, or, if multiple
                copyrighted works or other intellectual property are covered by
                a single notification, a representative list of such works or
                other intellectual property
              </li>
              <li>
                identification of the content that is claimed to be infringing
                or to be the subject of infringing activity, and where the
                content that you claim is infringing is located within the
                Platform, with enough detail that we may find it within the
                Platform
              </li>
              <li>your address, telephone number, and email address</li>
              <li>
                a statement by you that you have a good faith belief that the
                disputed use is not authorized by the copyright or intellectual
                property owner, its agent, or the law and
              </li>
              <li>
                a statement by you that the information in your notice is
                accurate and, under penalty of perjury, that you are the
                copyright or intellectual property owner or are authorized to
                act on the behalf of the owner of the copyright or intellectual
                property that is allegedly infringed.
              </li>
            </ul>
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Counter-Notice</span
            >. If you believe that your User Content that was removed (or to
            which access was disabled) is not infringing, or that you have the
            authorization from the copyright owner, the copyright owner’s agent,
            or pursuant to the law, to upload and use the content in your User
            Content, you may send a written counter-notice containing the
            following information to the Copyright Agent:
            <ul>
              <li>your physical or electronic signature</li>
              <li>
                identification of the content that has been removed or to which
                access has been disabled and the location at which the content
                appeared before it was removed or disabled
              </li>
              <li>
                a statement by you, made under penalty of perjury, that you have
                a good faith belief that the content was removed or disabled as
                a result of mistake or a misidentification of the content to be
                removed or disabled and
              </li>
              <li>
                your name, address, telephone number, and email address, a
                statement that you consent to the jurisdiction of the federal
                court located within the Northern District of California and a
                statement that you will accept service of process from the
                person who provided notification of the alleged infringement.
              </li>
              <li>
                If a counter-notice is received by the Copyright Agent, Champ
                will send a copy of the counter-notice to the original
                complaining party informing them that Champ may replace the
                removed content or cease disabling it within ten (10) business
                days. Unless the owner of the applicable copyrighted work or
                other intellectual property files an action seeking a court
                order against Champ or the user, the removed content may be
                replaced, or access to it restored, within ten (10) to fourteen
                (14) business days or more after receipt of the counter-notice,
                at our sole discretion.
              </li>
            </ul>
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Repeat Infringer Policy</span
            >
            In accordance with the DMCA and other applicable law, Champ has
            adopted a policy of terminating, in appropriate circumstances and at
            Champ’s sole discretion, the accounts of users who are deemed to be
            repeat infringers. Champ may also at its sole discretion limit
            access to the Platform and/or terminate the accounts of any users
            who infringe any intellectual property rights of others, whether or
            not there is any repeat infringement.
          </li>
        </ul>
      </li>
      <li>
        <span class="s-terms__bold s-terms__size-20"
          >Indemnification Disclaimer Limitations on Liability</span
        >
        <ul>
          <li>
            <span class="s-terms__bold s-terms__decoration">Indemnity</span>.
            You agree to hold harmless, release, defend, and indemnify us and
            our officers, directors, employees, contractors, agents, affiliates,
            and subsidiaries from and against all claims, damages, obligations,
            losses, liabilities, costs, and expenses arising from: (a) your
            access and use of our Platform or (b) your violation of any term or
            condition of this Agreement, the right of any third party, or any
            other applicable law, rule, or regulation.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Disclaimer</span>.
            We plan to continue to develop and improve Champ, but we make no
            guarantees or promises about how it operates or that it will
            function as intended, and your use is at your own risk. THE PLATFORM
            AND OUTPUT ARE PROVIDED “AS IS.” EXCEPT TO THE EXTENT PROHIBITED BY
            LAW, WE AND OUR AFFILIATES AND LICENSORS MAKE NO WARRANTIES
            (EXPRESS, IMPLIED, STATUTORY OR OTHERWISE) WITH RESPECT TO THE
            PLATFORM OR OUTPUT, AND DISCLAIM ALL WARRANTIES INCLUDING BUT NOT
            LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
            PURPOSE, SATISFACTORY QUALITY, NON-INFRINGEMENT, AND QUIET
            ENJOYMENT, AND ANY WARRANTIES ARISING OUT OF ANY COURSE OF DEALING
            OR TRADE USAGE. WE DO NOT WARRANT THAT THE PLATFORM WILL BE
            UNINTERRUPTED, ACCURATE OR ERROR FREE, OR THAT ANY USER CONTENT WILL
            BE SECURE OR NOT LOST OR ALTERED.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Limitations of Liability</span
            >. UNDER NO CIRCUMSTANCES SHALL WE OR ANY OF OUR OFFICERS,
            DIRECTORS, EMPLOYEES, CONTRACTORS, AGENTS, AFFILIATES, OR
            SUBSIDIARIES BE LIABLE TO YOU FOR ANY INDIRECT, PUNITIVE,
            INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING,
            BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE,
            DATA, OR OTHER INTANGIBLE PROPERTY, ARISING OUT OF OR RELATING TO
            ANY ACCESS OR USE OF OR INABILITY TO ACCESS OR USE OF THE PLATFORM,
            NOR WILL WE BE RESPONSIBLE FOR ANY DAMAGE, LOSS, OR INJURY RESULTING
            FROM HACKING, TAMPERING, OR OTHER UNAUTHORIZED ACCESS OR USE OF OUR
            PLATFORM OR THE INFORMATION CONTAINED WITHIN IT, WHETHER SUCH
            DAMAGES ARE BASED IN CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY,
            OR OTHERWISE, ARISING OUT OF OR IN CONNECTION WITH AUTHORIZED OR
            UNAUTHORIZED USE OF OUR PLATFORM.SOME JURISDICTIONS DO NOT ALLOW THE
            LIMITATION OF LIABILITY FOR PERSONAL INJURY, OR OF INCIDENTAL OR
            CONSEQUENTIAL DAMAGES, SO THIS LIMITATION MAY NOT APPLY TO YOU. IN
            NO EVENT SHALL OUR TOTAL LIABILITY TO YOU FOR ALL DAMAGES (OTHER
            THAN AS MAY BE REQUIRED BY APPLICABLE LAW IN CASES INVOLVING
            PERSONAL INJURY) EXCEED IN THE AGGREGATE (A) THE AMOUNTS YOU HAVE
            PAID US TO US IN THE SIX (6) MONTHS PRECEDING THE DATE OF THE CLAIM
            OR (B) ONE HUNDRED U.S. DOLLARS ($100.00 USD) OR ITS EQUIVALENT IN
            THE LOCAL CURRENCY OF THE APPLICABLE JURISDICTION.THE FOREGOING
            LIMITATIONS WILL NOT APPLY TO THE EXTENT PROHIBITED BY LAW.
          </li>
        </ul>
      </li>
      <li>
        <span class="s-terms__bold s-terms__size-20"
          >Dispute Resolution By Binding Arbitration</span
        >
        <ul>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Agreement to Arbitrate</span
            >. This Dispute Resolution by Binding Arbitration section is
            referred to in this Agreement as the
            <span class="s-terms__bold">“Arbitration Agreement.</span>” You
            agree that any and all disputes or claims that have arisen or may
            arise between you and Champ, whether arising out of or relating to
            this Agreement (including any alleged breach thereof), the Platform,
            and any aspect of the relationship or transactions between us, shall
            be resolved exclusively through final and binding arbitration,
            rather than a court, in accordance with the terms of this
            Arbitration Agreement, except that you may assert individual claims
            in small claims court, if your claims qualify. Further, this
            Arbitration Agreement does not preclude you from bringing issues to
            the attention of federal, state, or local agencies, and such
            agencies can, if the law allows, seek relief against us on your
            behalf. You agree that, by entering into this Agreement, you and
            Champ are each waiving the right to a trial by jury or to
            participate in a class action. Your rights will be determined by a
            neutral arbitrator, not a judge or jury. The Federal Arbitration Act
            governs the interpretation and enforcement of this Arbitration
            Agreement.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Prohibition of Class and Representative Actions and
              Non-Individualized Relief</span
            >. YOU AND CHAMP AGREE THAT EACH OF US MAY BRING CLAIMS AGAINST THE
            OTHER ONLY ON AN INDIVIDUAL BASIS AND NOT AS A PLAINTIFF OR CLASS
            MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE ACTION OR
            PROCEEDING. UNLESS BOTH YOU AND CHAMP AGREE OTHERWISE, THE
            ARBITRATOR MAY NOT CONSOLIDATE OR JOIN MORE THAN ONE PERSON’S OR
            PARTY’S CLAIMS AND MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A
            CONSOLIDATED, REPRESENTATIVE, OR CLASS PROCEEDING. ALSO, THE
            ARBITRATOR MAY AWARD RELIEF (INCLUDING MONETARY, INJUNCTIVE, AND
            DECLARATORY RELIEF) ONLY IN FAVOR OF THE INDIVIDUAL PARTY SEEKING
            RELIEF AND ONLY TO THE EXTENT NECESSARY TO PROVIDE RELIEF
            NECESSITATED BY THAT PARTY’S INDIVIDUAL CLAIM(S), EXCEPT THAT YOU
            MAY PURSUE A CLAIM FOR AND THE ARBITRATOR MAY AWARD PUBLIC
            INJUNCTIVE RELIEF UNDER APPLICABLE LAW TO THE EXTENT REQUIRED FOR
            THE ENFORCEABILITY OF THIS PROVISION.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Pre-Arbitration Dispute Resolution</span
            >. Champ is always interested in resolving disputes amicably and
            efficiently, and most user concerns can be resolved quickly and to
            the user’s satisfaction by emailing support at
            <a href="mailto:support@thechamp.ai">support@thechamp.ai</a>.
            If such efforts prove unsuccessful, a party who intends to seek
            arbitration must first send to the other, by certified mail, a
            written Notice of Dispute (<span class="s-terms__bold"
              >“Notice”</span
            >). The Notice to Champ should be sent to 112 S. French Street,
            Suite 105 Wilmington, DE 19801 (<span class="s-terms__bold"
              >“Notice Address”</span
            >). The Notice must (i) describe the nature and basis of the claim
            or dispute and (ii) set forth the specific relief sought. If Champ
            and you do not resolve the claim within sixty (60) calendar days
            after the Notice is received, you or Champ may commence an
            arbitration proceeding. During the arbitration, the amount of any
            settlement offer made by Champ or you shall not be disclosed to the
            arbitrator until after the arbitrator determines the amount, if any,
            to which you or Champ is entitled.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Arbitration Procedures</span
            >. Arbitration will be conducted by a neutral arbitrator in
            accordance with the American Arbitration Association’s (<span
              class="s-terms__bold"
              >“AAA”</span
            >) rules and procedures, including the AAA’s Consumer Arbitration
            Rules (collectively, the
            <span class="s-terms__bold">“AAA Rules”</span>), as modified by this
            Arbitration Agreement. For information on the AAA, please visit its
            website,
            <a href="http://www.adr.org" target="_blank">www.adr.org</a>.
            Information about the AAA Rules and fees for consumer disputes can
            be found at the AAA’s consumer arbitration page,
            <a href="http://www.adr.org/consumer" target="_blank"
              >www.adr.org/consumer</a
            >, as may be updated from time to time. If there is any
            inconsistency between any term of the AAA Rules and any term of this
            Arbitration Agreement, the applicable terms of this Arbitration
            Agreement will control unless the arbitrator determines that the
            application of the inconsistent Arbitration Agreement terms would
            not result in a fundamentally fair arbitration. The arbitrator must
            also follow the provisions of this Agreement as a court would. All
            issues are for the arbitrator to decide, including, but not limited
            to, issues relating to the scope, enforceability, and arbitrability
            of this Arbitration Agreement. Although arbitration proceedings are
            usually simpler and more streamlined than trials and other judicial
            proceedings, the arbitrator can award the same damages and relief on
            an individual basis that a court can award to an individual under
            this Agreement and applicable law. Decisions by the arbitrator are
            enforceable in court and may be overturned by a court only for very
            limited reasons.Unless Champ and you agree otherwise, any
            arbitration hearings will take place in a reasonably convenient
            location for both parties with due consideration of their ability to
            travel and other pertinent circumstances. If the parties are unable
            to agree on a location, the determination shall be made by AAA. If
            your claim is for $10,000 or less, Champ agrees that you may choose
            whether the arbitration will be conducted solely on the basis of
            documents submitted to the arbitrator, through a telephonic hearing,
            or by an in-person hearing as established by the AAA Rules. If your
            claim exceeds $10,000, the right to a hearing will be determined by
            the AAA Rules. Regardless of the manner in which the arbitration is
            conducted, the arbitrator shall issue a reasoned written decision
            sufficient to explain the essential findings and conclusions on
            which the award is based.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Costs of Arbitration</span
            >. Payment of all filing, administration, and arbitrator fees
            (collectively, the
            <span class="s-terms__bold">“Arbitration Fees”</span>) will be
            governed by the AAA Rules, unless otherwise provided in this
            Arbitration Agreement. If the value of the relief sought is $75,000
            or less, at your request, Champ will pay all Arbitration Fees. If
            the value of relief sought is more than $75,000 and you are able to
            demonstrate to the arbitrator that you are economically unable to
            pay your portion of the Arbitration Fees or if the arbitrator
            otherwise determines for any reason that you should not be required
            to pay your portion of the Arbitration Fees, Champ will pay your
            portion of such fees. In addition, if you demonstrate to the
            arbitrator that the costs of arbitration will be prohibitive as
            compared to the costs of litigation, Champ will pay as much of the
            Arbitration Fees as the arbitrator deems necessary to prevent the
            arbitration from being cost-prohibitive. Any payment of attorneys’
            fees will be governed by the AAA Rules.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Confidentiality</span
            >. All aspects of the arbitration proceeding, and any ruling,
            decision, or award by the arbitrator, will be strictly confidential
            for the benefit of all parties.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Severability</span>.
            If a court or the arbitrator decides that any term or provision of
            this Arbitration Agreement (other than Section 6.2 above) is invalid
            or unenforceable, the parties agree to replace such term or
            provision with a term or provision that is valid and enforceable and
            that comes closest to expressing the intention of the invalid or
            unenforceable term or provision, and this Arbitration Agreement
            shall be enforceable as so modified. If a court or the arbitrator
            decides that any of the provisions of Section 6.2 are invalid or
            unenforceable, then the entirety of this Arbitration Agreement shall
            be null and void, unless such provisions are deemed to be invalid or
            unenforceable solely with respect to claims for public injunctive
            relief. The remainder of this Agreement will continue to apply.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Future Changes to Arbitration Agreement</span
            >. Notwithstanding any provision in this Agreement to the contrary,
            Champ agrees that if it makes any future change to this Arbitration
            Agreement (other than a change to the Notice Address) while you are
            a user of the Platform, you may reject any such change by sending
            Champ written notice within thirty (30) calendar days of the change
            to the Notice Address provided above. By rejecting any future
            change, you are agreeing that you will arbitrate any dispute between
            us in accordance with the language of this Arbitration Agreement as
            of the date you first accepted this Agreement (or accepted any
            subsequent changes to this Agreement).
          </li>
        </ul>
      </li>
      <li>
        <span class="s-terms__bold s-terms__size-20">Miscellaneous</span>
        <ul>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Entire Agreement</span
            >. These terms constitute the entire agreement between you and us
            with respect to the subject matter hereof. This Agreement supersedes
            any and all prior or contemporaneous written and oral agreements,
            communications and other understandings (if any) relating to the
            subject matter of the terms.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Assignment</span>.
            You may not assign or transfer this Agreement, by operation of law
            or otherwise, without our prior written consent. Any attempt by you
            to assign or transfer this Agreement without our prior written
            consent shall be null and void. We may freely assign or transfer
            this Agreement. Subject to the foregoing, this Agreement will bind
            and inure to the benefit of the parties, their successors and
            permitted assigns.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Notice</span>. We
            may provide any notice to you under this Agreement using
            commercially reasonable means, including using public communication
            channels. Notices we provide by using public communication channels
            will be effective upon posting.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Modifications.</span
            >
            We may amend this Agreement from time to time by posting a revised
            version on the website, or if an update materially adversely affects
            your rights or obligations under this Agreement we will provide
            notice to you either by emailing the email associated with your
            account or providing an in-product notification. Those changes will
            become effective no sooner than 30 days after we notify you. All
            other changes will be effective immediately. Your continued use of
            the Platform after any change means you agree to such change.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Equitable Remedies</span
            >. You acknowledge that if you violate or breach this Agreement, it
            may cause irreparable harm to Champ, and Champ shall have the right
            to seek injunctive relief against you in addition to any other legal
            remedies.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Severability</span>.
            If any provision of this Agreement shall be determined to be invalid
            or unenforceable under any rule, law, or regulation of any local,
            state, or federal government agency, such provision will be changed
            and interpreted to accomplish the objectives of the provision to the
            greatest extent possible under any applicable law and the validity
            or enforceability of any other provision of this Agreement shall not
            be affected.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration"
              >Special Notice for International Use Export Controls</span
            >. Champ is headquartered in the United States. Whether inside or
            outside of the United States, you are solely responsible for
            ensuring compliance with the laws of your specific jurisdiction.
            Portions of the Platform, the Mobile Apps and the transmission of
            applicable data, if any, is subject to United States export
            controls. No portion of the Platform may be downloaded or otherwise
            exported or re- exported in violation of U.S. export laws.
            Downloading, accessing or using the Platform is at your sole risk.
          </li>
          <li>
            <span class="s-terms__bold s-terms__decoration">Governing Law</span
            >. This Agreement will be governed by the laws of the State of
            California without regard to its conflict of law provisions. With
            respect to any disputes or claims not subject to arbitration, as set
            forth below, you and Champ agree to submit to the personal and
            exclusive jurisdiction of the state and federal courts located
            within San Francisco, CA. The failure of Champ to exercise or
            enforce any right or provision of this Agreement will not constitute
            a waiver of such right or provision. If any provision of this
            Agreement is found by a court of competent jurisdiction to be
            invalid, the parties nevertheless agree that the court should
            endeavor to give effect to the parties’ intentions as reflected in
            the provision, and the other provisions of this Agreement remain in
            full force and effect.
          </li>
        </ul>
      </li>
    </ol>
  </div>
</main>
<footer class="l-footer">
  <div class="l-footer__container container">
    <div class="l-footer__content">
      <p class="l-footer__copy">2023 ChampAI. All rights reserved.</p>
      <div class="l-footer__info">
        <a class="l-footer__link" routerLink="/terms-of-service">
          Terms of Service
        </a>
        <a class="l-footer__link" routerLink="/privacy-policy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
